

body {
  background-color: black;
  /* background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"); */
 /* background-image: url("https://images.unsplash.com/photo-1559657693-e816ff3bd9af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"); */
background-image: url("./img.jpg");
 background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.title {
  width: 50%;
  background-color: rgba(127, 255, 212, 0.504);
  padding:1rem;
  margin:1rem;

}

.main-content {
  height: max-content;
  min-height: 300px;
  max-height: 500px;
  overflow: scroll;
  width: 400px;

  border: 1px solid white;
  margin: 10px;
  padding: 1rem;
}

.main-content p{
  /* width: max-content; */
  margin: 0;
line-height: 2rem;
}
.main-content::-webkit-scrollbar{
  display: none;
}
.icons{
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: space-evenly;

}
.btn-box{
  padding: 1rem;
}

button ,select{

  margin: 1rem;
  font-size: 1.5rem;
padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
  border-bottom: 2px solid rgba(127, 255, 212, 0.504);
  border-right: 2px solid rgba(127, 255, 212, 0.504);

}
select option{
  color: rgb(0, 0, 0);

}
button:active {
  border: 0;

  border-top: 2px solid rgba(127, 255, 212, 0.504);
  border-left: 2px solid rgba(127, 255, 212, 0.504);

}


.icons p {
  text-decoration: underline;
  color: rgba(127, 255, 212, 0.504);
}

span{
  font-size: 2.5rem;
  animation-name: blinks;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes blinks {
    0%{opacity: 0;
    
    color: red;}

    100%{opacity: 1;}
}

@media screen and  (max-width: 800px) {  

  .title{
    width:70%
  }
  .main-content{

    width: 80%;

  }

  .icons,.btn-box{
    width: 90%;
    line-height: 0.5rem;
    font-size: 1.3rem;
  }
  .main-content p{
    font-size: 1.7rem;
  }

  button{
    font-size: 1.5rem;
  }

}